<section class="features bg-light section">
  <div class="container">
    <div class="row">
      <header class="text-center col-md-8 col-md-offset-2">
        <h2>Les Avantages</h2>
      </header>
    </div>
    <div class="section-content-2">
      <div class="row-base row">
        {%- assign sorted_avantages = (site.avantages | sort: 'date') -%}
        {%- for avantage in sorted_avantages -%}
          <div class="col-base col-feature col-sm-6 col-md-4">
            <a href="{{ avantage.url }}" class="col-feature__link">
              {%- if avantage.icon != empty -%}
                <img src="{{ avantage.icon }}" alt="{{ avantage.title | escape }}">
              {%- endif -%}
              <h4>{{ avantage.title }}</h4>
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>