<!-- Header -->

<header class="navbar">
  <div>
    <a href="/" class="brand js-target-scroll">
      <img src="{{ site.data.general.logo }}" alt="GD Consulting">
    </a>

    <!-- Navbar Collapse -->

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    {%- include social-media.html -%}
  
    <!-- Navigation Desktop -->

    <nav class="nav-desctop hidden-xs hidden-sm">
      <ul class="nav-desctop-list">
        {%- for link in site.data.menus.menu_principal.links =%}
          {%- assign link_handle = link.title | slugify -%}
          {%- assign page_handle = page.title | slugify -%}
          <li>
            <a class="{% if page_handle == link_handle %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
            {%- if link.links -%}
              <ul>
                {%- for l in link.links -%}
                  {%- assign l_handle = l.title | slugify -%}
                  {%- assign page_handle = page.title | slugify -%}
                  <li><a class="{% if page_handle == l_handle %} active{% endif %}" href="{{ l.url }}">{{ l.title }}</a></li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>

    <!-- Navigation Mobile -->

    <nav class="nav-mobile hidden-md hidden-lg">
      <div class="collapse navbar-collapse" id="nav-collapse"> 
        <ul class="nav-mobile-list">
          {%- for link in site.data.menus.menu_principal.links =%}
            {%- assign link_handle = link.title | slugify -%}
            {%- assign page_handle = page.title | slugify -%}
            <li>
              <a class="{% if page_handle == link_handle %} active{% endif %}" href="{{ link.url }}">
                {{ link.title }}{% if link.links %} <i class="fa fa-angle-down"></i>{% endif -%}
              </a>
              {%- if link.links -%}
                <ul>
                  {%- for l in link.links -%}
                    {%- assign l_handle = l.title | slugify -%}
                    {%- assign page_handle = page.title | slugify -%}
                    <li><a class="{% if page_handle == l_handle %} active{% endif %}" href="{{ l.url }}">{{ l.title }}</a></li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </nav> 
  </div>
</header>