<!DOCTYPE HTML>
<html lang="en">
<head>
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GD Consulting</title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Montserrat:400,700|Playfair+Display:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" media="screen">
<link href="/css/styles.css" rel="stylesheet" media="screen">
</head>
<body>
  
    <!-- Loader -->

    
    <div class="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>

    {% include header.html %}
    
    <!-- Home -->
    
    {{ content }}

    <!-- Modals -->

  {% include modals.html %}

  <script src="/js/vendors.js"></script>
  <script src="/js/scripts.js"></script>

</body>
</html>